@model IEnumerable<MWS_SocialNetwork.ViewModels.GroupModel>


    @if (Model.Count() != 0)
     {
       <ul class="users-list clearfix">
           @foreach (var item in Model)
            {
               <li>
                <img class="big-circle" src="@item.ImageUrl" alt="User Image">
                <a class="users-list-name" asp-action="Index" asp-controller="GroupProfile" asp-route-gId="@item.Id">@item.Name</a>
                <span class="users-list-date">
                    @(item.IsMember ? "Member" : "")
                </span>
                </li>
            }
        </ul>
     }
    else
    {
         <p>&nbsp;&nbsp;No results</p>
    }

