

<div id="AllowedVisibility" class="form-group has-success" >
    <label class="control-label " id="allowed"><i class="fa fa-thumbs-o-up"></i> This User is Allowed to see your Post</label> @*fa-thumbs-o-up*@
</div>
