
<div class="modal-dialog">
    <form method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Check Visibility</h4>
            </div>
            <div class="modal-body">
                <p>Search for someone to see if he/she is allowed or denied to see this post</p>
                <div class="input-group input-group-sm">
                    <select id="Individual" class="form-control Individual" data-placeholder="Select User" style="width: 95%;"></select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat" id="CheckVisibility">Check!</button>
                    </span>
                </div>
                <br>
                <!-- /.box-body -->
               <div id="VisibilityResult"></div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="CloseModalVisibility">Close</button>
            </div>
        </div>
    </form>
    <!-- /.modal-content -->
</div>