

<div id="DeniedVisibility" class="form-group has-error" >
    <label class="control-label "  id="disallowed"><i class="fa fa-thumbs-o-down"></i> This User is Denied from seeing your Post</label> @*fa-thumbs-o-down*@
</div>
