
<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">MWS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>MWS </b>Social Network</span>
    </a>

    @await Html.PartialAsync("_MenuBar")
</header>
