@model MWS_SocialNetwork.ViewModels.SignUpViewModel

<div id="signUp-validation-summery" asp-validation-summary="All" class="alert alert-danger alert-dismissible center-block" style="width:100%; text-align:left ; float :left ; margin-top:10px;"></div>
